.home1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgba(25, 0, 74, 0.97) 0.00%,rgba(25, 0, 74, 0.97) 100.00%),url('https://i.ibb.co/tpS049c/Color-Matte121.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.home1-container1 {
  flex: 0 0 auto;
  width: 1200px;
  height: var(--dl-size-size-maxwidth);
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  justify-content: flex-start;
}
.home1-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  align-self: flex-start;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgba(30, 0, 53, 0.75) 1.00%,rgba(30, 0, 53, 0.75) 100.00%),url('https://media1.giphy.com/media/xTiQyohZdXceENvkcM/giphy.gif');
}
.home1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  border-color: rgba(78, 33, 100, 0.63);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 50px;
  justify-content: flex-start;
  background-color: rgba(54, 18, 100, 0.25);
}
.home1-image {
  width: 100px;
  object-fit: cover;
}
.home1-image1 {
  width: 700px;
  object-fit: cover;
  margin-left: 10px;
}
.home1-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
  box-shadow: 3px 3px 0px 0px #000000;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  background-color: rgba(30, 0, 43, 0.9);
}
.home1-text {
  background-image: url('https://github.com/IkariDevGIT/WebsiteHostPAF/raw/main/17168002(1)(1).gif');
}
.home1-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home1-container6 {
  flex: 0 0 auto;
  width: 550px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-container7 {
  flex: 0 0 auto;
  width: 230px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
